## Docker
Dockerfile
.dockerignore
docker

## Git
.git
.github

## Environment
.env
**/*.env
venv
env/

## Node
node_modules
package.json
package-lock.json

## Makefile
downloads

## Unit test / Coverage reports
**/.cache
**/.coverage
**/.pytest_cache
.coverage
reports
share

## IDEs
.idea
.vscode

## Build artifacts
**/__pycache__
**/*.py[cod]
*.egg-info
*.egg[s]
build
dist
pip-selfcheck.json

## CI/Test/Deploy
.[a-z]*
ci
hooks
tests

## Docs
docs

## Celery
celeryconfig*.py
celerybeat-schedule.*
.run

## Project
**/custom.ini
**/config.yml
**/config.yaml
**/cowbird.ini
cowbirdenv
cowbird/bin
cowbird/include
cowbird/lib
cowbird/local
cowbird/share
src
error_log.txt
gunicorn.app.wsgiapp
