# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation (see 'docs/conf.py')

# sphinx-autoapi breaking with astroid==2.7 (https://github.com/readthedocs/sphinx-autoapi/issues/301)
astroid>=2.6,!=2.7.*,<3
pycodestyle
sphinx-autoapi>=1.7.0
sphinx-paramlinks>=0.4.1
sphinx>=3.1,<4
sphinxcontrib-redoc>=1.6.0
sphinx_autodoc_typehints[type_comments]>=1.11.0
sphinx_rtd_theme
