## Dependencies to run tests and linting checks

-r requirements-sys.txt
-r requirements.txt
-r requirements-doc.txt
-r requirements-type.txt
autopep8>=1.5.4
bandit>=1.7.4,<2
bump2version==1.0.1
codacy-coverage>=1.3.11
coverage==5.5,<5.6
doc8>=0.8,<1.0.0
docformatter>=1.7.3,<1.8
flake8>=6,<7
flynt
isort>5.5
mock>4
pycodestyle>2.6.0,<3  # plugin dependency of flake8
# pylint: Use at least version 2.13.0 to avoid security vulnerabilities (https://github.com/PyCQA/pylint/issues/5322)
# and at least version 2.14 to avoid issue (https://github.com/PyCQA/pylint/pull/6212)
pylint>=2.14.0
pylint-quotes
pytest
pytest-celery
webtest
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
