## Dependency stubs to help analyse typing annotations

mypy
mypy-zope
mongo-types
celery-types
types-mock
types-pyyaml
types-requests
types-simplejson
types-urllib3
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
