# we actually need to install all requirements during docs build because of OpenAPI generation (see 'docs/conf.py')
-r requirements-sys.txt
-r requirements.txt
# these are doc-only requirements
astroid>=2.11.0,<3
jinja2<3.1 # Avoid jinja2 3.1 version, which breaks with sphinx 3.X (https://github.com/sphinx-doc/sphinx/issues/10291)
sphinx-autoapi>=1.7.0
sphinx-paramlinks>=0.4.1
sphinx>=3.1,<4; python_version < "3.6"
sphinx>=3.5,<6; python_version < "3.10"
sphinx>=6.2,<7; python_version >= "3.10"
sphinxcontrib-redoc>=1.6.0
sphinx_autodoc_typehints[type_comments]>=1.11.0
sphinx_rtd_theme
