## Dependencies to run documentation generation

# we actually need to install all requirements during docs build because of OpenAPI generation (see 'docs/conf.py')
-r requirements-sys.txt
-r requirements.txt
# these are doc-only requirements
astroid>=2.11.0,<3
jinja2>=3.1.4,<3.2  # pyup: ignore  # all versions flagged, no fix possible!
sphinx-autoapi>=2.1.0
sphinx-paramlinks>=0.4.1
sphinx>=7.1,<8
sphinxcontrib-redoc>=1.6.0
sphinx_autodoc_typehints[type-comment]>=1.25
sphinx_rtd_theme
