version: "3.4"

services:
  cowbird:
    image: pavics/cowbird:latest-webservice
    container_name: cowbird-webservice
    ports:
      - "7000:7000"
    environment:
      HOSTNAME: localhost
      FORWARDED_ALLOW_IPS: "*"
    # ensure other referenced services are created beforehand to avoid booting timing issues
    depends_on:
      - worker
    links:
      - mongodb
    volumes:
      - ../config/cowbird.ini:/opt/local/src/cowbird/config/cowbird.ini
    restart: always

  worker:
    image: pavics/cowbird:latest-worker
    container_name: cowbird-worker

    links:
      - mongodb
    volumes:
      # Weaver configuration
      - ../config/cowbird.ini:/opt/local/src/cowbird/config/cowbird.ini
    restart: always

  mongodb:
    image: mongo:3.4.0
    container_name: mongodb
    ports:
      - "27017:27017"
    # MongoDB crash with permission denied errors if the command is not overridden like this
    command: bash -c 'chown -R mongodb:mongodb /data && chmod -R 755 /data && mongod'
    restart: always
